@import "reset.css";

.wrapper{
min-height: 100%;
display: flex;
flex-direction: column;
overflow: clip;
max-width: 1680px;
margin: 0px auto;
padding: 0px 30px;
}
.page{
flex: 1 1 auto ;
}

/*-----Header-----*/
.header-container{
display: flex;
min-height: 116px;
align-items: center;
margin: 0px 30px 0px 30px;
}
.header-logo{
padding-top: 5px;
z-index: 2;
}
.header-menu{
flex: 1 1 auto;
}
.menu-list{
display: flex;
flex-wrap: wrap;
row-gap: 3px;
column-gap: 35px;
justify-content: flex-end;
}
.menu-link{
font-size: 16px;
line-height: 26px;
color: #000000;
}
.menu-link:hover {
color: rgb(179, 126, 126);
}

@media (max-width: 991.98px){
	.menu-list{
	column-gap:25px;
	}
}
@media (max-width: 767.98px){
	.burger{
    display: flex;
	align-items: center;
	height: 18px;
	position: relative;
	z-index: 50;
	justify-content: flex-end;
	width: 30px;
	}
.burger span{
	height: 2px;
	width: 80%;
	transform: scale(1);
	background-color: #000000;
}
	.burger::before,
	.burger::after {
		content: " ";
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: black;	
		transition: all 0.3s ease 0s;
	}
	.burger::before{
	top: 0;
	}
	.burger::after{
	bottom: 0;
	}
	.burger.active span{
	transform: scale(0);
	}
	.burger.active::before{
	top: 50%;
	transform: rotate(-45deg) translate(0,-50%);
	}
	.burger.active::after{
		bottom: 50%;
		transform: rotate(45deg)translate(0,50%);
	}
	.open{
	display: none !important;
	}
	.menu-body{
		display:flex;
		position: fixed;
		flex-direction: column;
		width: 100%;
		height: 100%;
		background-color: wheat;
		left: 0px;
		top: 0px;
		z-index: 1;
		padding: 100px 15px 30px 15px;
	}
	.menu-list{
		flex-direction: column;
		justify-content: center;
		text-align: center;
		row-gap: 20px;
	}
	.menu-link{
	font-size: 20px;
	}
}
/*-----PAGE------*/
.page{
position: relative;
}
.page-min-block{
	display: flex;
	justify-content: space-between;
	max-width: 100%;
	height: 100%;
	background-color: rgba(227, 229, 228, 1);
	top:0;
	left: 0;
	object-fit: cover;
}
.min-block__container{
padding: 200px 0px 100px 90px;
text-align: center;
}
.mein-block__body{
	padding: 0px 80px 0px 90px;
	max-width: 800px;
	z-index: 2;
}
.mein-block_body > *:not(:last-child){
margin: 0px 0px 47px 0px;
}
.min-block__title{
	font-size: 35px;
	font-weight: 900;
	margin-bottom: 20px;
}
.min-block__body p{
	font-weight: 400;
    font-size: 24px;
	line-height: 35px;	
}
.min-block__image{
display: flex;	
}
.block-foto{
max-width: 950px;
box-sizing: border-box;
padding-right: 10px;
padding-top: 110px;	
}
.min-block__foto p{
font-weight: 400;
font-size: 15px;
line-height: 20px;
text-align: center;
}
.min-block__foto__text{
max-width: 850px;
min-height: 110px;
background-color: white;
padding: 25px 68px 25px 68px;
}

/*----information----*/
.page-information{
max-width: 100%;	
}
.information__container{
justify-content: space-between;
display: flex;
padding-top: 85px;
}
.information__text-container {
text-align: center;		
}
.information__title{
font-weight: 900;
font-size: 36px;
line-height: 48px;
}
.information__text p {
padding: 60px 0px 0px 0px;
font-weight: 400;
font-size: 20px;
line-height: 27px;
}
.information__icon-container{
max-width: 778px;
height: 570px;
}
.information__divider{
display: block;
border-style: inset;
margin-top: 20px;
margin-left: 60px;
margin-right: 60px;
border-width: 2px;
color: #000000;
}

/*------courses---*/
.row{
padding-top: 70px;
}
h3{
font-weight: 400;
font-size: 60px;
line-height: 120px;
text-align: center;
}
.colum{	
display: block;
display: flex;	
justify-content: space-around;
flex-wrap: wrap;
}
.cart-courses{
margin-bottom: 20px;
margin-top: 10px;
}
.cart-courses__container{
text-align: center;	
}
.cart-courses__taitel{
font-size: 30px;
font-weight: 400;
}
.cart-courses__text{
font-size: 16px;
}

/*----teacher---*/
.teacher__text__container{
text-align: center;
font-size: 50px;
font-weight: 400;
}
.teacher__foto__container{
display: block;
display: flex;	
justify-content: space-around;
flex-wrap: wrap;
}
.teacher__container{
background: #EFEFEE;
border-radius: 10px;
height: 545px;
width: 355px;
margin: 15px 0px 15px 0px;
}
.teacher__img{
margin-top: 25px;
}
.center-img{
display: block;
margin: 0 auto;
}
.teacher__text{
text-align: center;
margin-top: 10px;
}
